.chat-box{
    margin-left: 5px;
    margin-right: 5px;
    border: solid #000;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
}
.main{
    border: 1px solid #000;
}
#second-box .content{
    text-align: right;
    flex: 1;
}
#second-box .picture{
    order: 1;
}