.flex{
    display: flex;
    justify-content: space-between;
}
.color{
    background-color: rgb(73, 212, 80);
    width: 200px;
    height: 50px;
    text-align: center;
    line-height:50px;
}
.color-2{
    background-color: rgb(131, 102, 199);
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}